.animais {
    padding: 13%;
    margin-left: 30%;


}

.animais h3 {
    /* color: #fff;
    font-family: Rubik;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 40px; */
    color: white;
    font-family:  Bold;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* .animais h2 {
    color: white;
    font-family:  Bold;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2em;
    gap: 120px;


}