.animais {
    padding: 13%;
    margin-left: 20%;


}

.animais h3 {
    color: black;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;

}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2em;
    gap: 120px;


}