.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #193A6A;
    border-top: 2px solid;
    padding: 1rem;
}